# Process Train set and labels

In [1]:
import pandas as pd
import numpy as np
import os

Id = []
for dirname, _, filenames in os.walk('Dataset/Original/Train/'):
    for filename in filenames:
        Id.append(os.path.join(dirname, filename))
Id[:10]

['Dataset/Original/Train/infacted_IMG_1169.JPG',
 'Dataset/Original/Train/infacted_IMG_1170.JPG',
 'Dataset/Original/Train/infacted_IMG_1171.JPG',
 'Dataset/Original/Train/infacted_IMG_1173.JPG',
 'Dataset/Original/Train/infacted_IMG_1174.JPG',
 'Dataset/Original/Train/infacted_IMG_1175.JPG',
 'Dataset/Original/Train/infacted_IMG_1176.JPG',
 'Dataset/Original/Train/infacted_IMG_1179.JPG',
 'Dataset/Original/Train/infacted_IMG_1180.JPG',
 'Dataset/Original/Train/infacted_IMG_1181.JPG']

In [2]:
# Convert image id's to pandas dataframe
train = pd.DataFrame().assign(filename=Id)
train.head()

                                       filename
0  Dataset/Original/Train/infacted_IMG_1169.JPG
1  Dataset/Original/Train/infacted_IMG_1170.JPG
2  Dataset/Original/Train/infacted_IMG_1171.JPG
3  Dataset/Original/Train/infacted_IMG_1173.JPG
4  Dataset/Original/Train/infacted_IMG_1174.JPG

In [3]:
train.tail()

                                             filename
1025  Dataset/Original/Train/notinfacted_IMG_3236.JPG
1026  Dataset/Original/Train/notinfacted_IMG_3238.JPG
1027  Dataset/Original/Train/notinfacted_IMG_3239.JPG
1028  Dataset/Original/Train/notinfacted_IMG_3241.JPG
1029  Dataset/Original/Train/notinfacted_IMG_3242.JPG

In [4]:
# Add new column 'label' and process labels for images
train['label'] = train['filename']

for i in range(len(train)):
    if 'infacted' in train['filename'][i]:
        train['label'][i] = 'infacted'
    if 'notinfacted' in train['filename'][i]:
        train['label'][i] = 'notinfacted'

In [5]:
train.head()

                                       filename     label
0  Dataset/Original/Train/infacted_IMG_1169.JPG  infacted
1  Dataset/Original/Train/infacted_IMG_1170.JPG  infacted
2  Dataset/Original/Train/infacted_IMG_1171.JPG  infacted
3  Dataset/Original/Train/infacted_IMG_1173.JPG  infacted
4  Dataset/Original/Train/infacted_IMG_1174.JPG  infacted

In [6]:
train.tail()

                                             filename        label
1025  Dataset/Original/Train/notinfacted_IMG_3236.JPG  notinfacted
1026  Dataset/Original/Train/notinfacted_IMG_3238.JPG  notinfacted
1027  Dataset/Original/Train/notinfacted_IMG_3239.JPG  notinfacted
1028  Dataset/Original/Train/notinfacted_IMG_3241.JPG  notinfacted
1029  Dataset/Original/Train/notinfacted_IMG_3242.JPG  notinfacted

In [7]:
train['label'].value_counts()

label
infacted       593
notinfacted    437
Name: count, dtype: int64

# Process Test set and labels

In [8]:
Id = []
for dirname, _, filenames in os.walk('Dataset/Original/Test/'):
    for filename in filenames:
        Id.append(os.path.join(dirname, filename))
Id[:10]

['Dataset/Original/Test/infacted_IMG_1172.JPG',
 'Dataset/Original/Test/infacted_IMG_1177.JPG',
 'Dataset/Original/Test/infacted_IMG_1178.JPG',
 'Dataset/Original/Test/infacted_IMG_1182.JPG',
 'Dataset/Original/Test/infacted_IMG_1186.JPG',
 'Dataset/Original/Test/infacted_IMG_1188.JPG',
 'Dataset/Original/Test/infacted_IMG_1190.JPG',
 'Dataset/Original/Test/infacted_IMG_1195.JPG',
 'Dataset/Original/Test/infacted_IMG_1200.JPG',
 'Dataset/Original/Test/infacted_IMG_1202.JPG']

In [9]:
# Convert image id's to pandas dataframe
test = pd.DataFrame().assign(filename=Id)
test.head()

                                      filename
0  Dataset/Original/Test/infacted_IMG_1172.JPG
1  Dataset/Original/Test/infacted_IMG_1177.JPG
2  Dataset/Original/Test/infacted_IMG_1178.JPG
3  Dataset/Original/Test/infacted_IMG_1182.JPG
4  Dataset/Original/Test/infacted_IMG_1186.JPG

In [10]:
test.tail()

                                           filename
252  Dataset/Original/Test/notinfacted_IMG_2095.JPG
253  Dataset/Original/Test/notinfacted_IMG_3233.JPG
254  Dataset/Original/Test/notinfacted_IMG_3234.JPG
255  Dataset/Original/Test/notinfacted_IMG_3237.JPG
256  Dataset/Original/Test/notinfacted_IMG_3240.JPG

In [11]:
# Add new column 'label' and process labels for images
test['label'] = test['filename']

for i in range(len(test)):
    if 'infacted' in test['filename'][i]:
        test['label'][i] = 'infacted'
    if 'notinfacted' in test['filename'][i]:
        test['label'][i] = 'notinfacted'

In [12]:
test.head()

                                      filename     label
0  Dataset/Original/Test/infacted_IMG_1172.JPG  infacted
1  Dataset/Original/Test/infacted_IMG_1177.JPG  infacted
2  Dataset/Original/Test/infacted_IMG_1178.JPG  infacted
3  Dataset/Original/Test/infacted_IMG_1182.JPG  infacted
4  Dataset/Original/Test/infacted_IMG_1186.JPG  infacted

In [13]:
test.tail()

                                           filename        label
252  Dataset/Original/Test/notinfacted_IMG_2095.JPG  notinfacted
253  Dataset/Original/Test/notinfacted_IMG_3233.JPG  notinfacted
254  Dataset/Original/Test/notinfacted_IMG_3234.JPG  notinfacted
255  Dataset/Original/Test/notinfacted_IMG_3237.JPG  notinfacted
256  Dataset/Original/Test/notinfacted_IMG_3240.JPG  notinfacted

In [14]:
test['label'].value_counts()

label
infacted       148
notinfacted    109
Name: count, dtype: int64

In [15]:
# Save train and test dataframe as csv for future use
train.to_csv('train.csv', index=False)
test.to_csv('test.csv', index=False)